<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:匹配的Java接口 -->
<mapper namespace="com.example.studentshop.mapper.UserMapper">
    <!--  /**
    *插入用户数据
    *@param user用户数据
    *@return 受影响的行数
    */
    Integer insert(User user);  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user(username, password, salt, gender, phone, email, avatar, is_delete,
                           created_user, created_time,
                           modified_user, modified_time)
        values (#{username}, #{password}, #{salt}, #{gender}, #{phone}, #{email}, #{avatar}, #{isDelete},
                #{createdUser}, #{createdTime},
                #{modifiedUser}, #{modifiedTime})
    </insert>
    <!--  根据用户  -->
    <select id="findUserByUsername" resultType="com.example.studentshop.entity.User">
        select uid, username, password, salt, is_delete as isDelete
        from t_user
        where username = #{username}
    </select>

    <select id="findUserByUid" resultType="com.example.studentshop.entity.User">
        select password,
               salt,
               is_delete as isDelete,
               phone,
               email,
               gender,
               username
        from t_user
        where uid = #{uid}
    </select>
    <!--修改密码-->
    <update id="updatePassword">
        update t_user
        set password=#{password},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        where uid = #{uid}
    </update>
    <!--修改个人信息-->
    <update id="updateInfo">
        update t_user
        set phone=#{phone},
            email=#{email},
            gender=#{gender},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        where uid = #{uid}
    </update>
    <!--修改头像-->
    <update id="updateAvatarByUid">
        UPDATE
            t_user
        SET avatar=#{avatar},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        WHERE uid = #{uid}

    </update>




</mapper>